{% extends "base.html" %}
{% load static %}
{% block content %}
<button type="button" class=" btn btn-primary my_btn js-create-good" data-url="{% url 'shop_app:form' %}"><span class="yo">Добавить товар</span></button>
<div class="products_head_footer">
    <h1 class="products_head_footer_h1">Выберите товар</h1>
    <div class="products_head_footer_card">
    {% include "products.html" %}
    </div>
</div>
<div class="modal fade" id="modal-good">
<div class="modal-dialog">
<div class="modal-content">

  </div>
</div>
</div>
{% endblock %}
